body {
    background-color: #16ffc1;
    background-image: url(/images/icon.png);
    background-size: 250px auto;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
